@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500");
.icons i{
    font-size: 1.5rem;
    padding: 10px;
    transition: 0.4s ease;
    font-weight: 400px;
    cursor: pointer;
}
.product_img{
    height: 15vh;
    width: 15vw;
    object-fit: contain;
}
.cols-9{
    flex: 0 0 auto;
    width: 90%;
}
.prod-box{
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
.prod-in{
    display: flex;
    align-items: center;
}
.prod-check{
    padding: 0 12px 0 20px;
    display: flex;
    flex-direction: row-reverse;
    min-width: 60px;
    box-sizing: border-box;
}
.sub-price{
    width: 80px;
    text-align: center;
    vertical-align: middle;
    margin-top: 4px;
}
.backgrnd{
    margin: 0;
    padding: 0;
}
.back-img{
    
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    opacity: .8;
}
.centered{
  position: absolute;
  top: 32.5%;
  left: 60%;
  transform: translate(-10%,-50%);
  margin: auto;
}
.center{
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  float: center;
  margin: auto;
  display: block;
}
.caption{
  font-family: "Poppins", sans-serif;;
  color: white;
  font-size: 70px;
  float: right;
  display: block;
}
@media (max-width: 1480px)  {
  .caption{
    font-size: 60px;
  }
}
@media (max-width: 1300px) {
  .caption{
    font-size: 50px;
  }
}
@media (max-width: 1050px) {
  .caption{
    font-size: 40px;
  }
}
@media (max-width: 800px) {
  .caption{
    visibility: hidden;
  }
}


.h-100{
    height: 100% !important; 
}
.b-con{
    background-color: #c2c2c28a;
    padding-bottom: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-top-left-radius:50px;
}

.list-inline {
    padding-left: 0px;
    margin-left: -5px;
    list-style: none;
}
.text-right {
    text-align: right;
}
ol, ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ol, ul {
    margin-top: 0px;
    margin-bottom: 10px;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.dropdown-slide {
    position: static;
}
.dropdown, .dropup {
    position: relative;
}
.top-header .top-menu > li > a {
    color: rgb(51, 51, 51);
    font-size: 15px;
    padding: 0px 8px;
}
a, a:focus, a:hover {
    color: rgb(0, 82, 206);
    text-decoration: none;
    outline: 0px;
}
a {
    color: rgb(3, 3, 3);
    text-decoration: none;
    background-color: transparent;
}

.dropdown-slide {
    position: static;
  }
  .dropdown-slide .open > a, .dropdown-slide .open > a:focus, .dropdown-slide .open > a:hover {
    background: transparent;
  }
  .dropdown-slide.full-width .dropdown-menu {
    left: 0 !important;
    right: 0 !important;
  }
  .dropdown-slide:hover .dropdown-menu {
    display: none;
    opacity: 1;
    display: block;
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    color: #777;
    transform: translateY(0px);
  }
.dropdown-slide .dropdown-menu {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px;
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(30px);
    border-radius: 0px;
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(235, 235, 235);
    border-image: initial;
    transition: visibility 0.2s ease 0s, opacity 0.2s ease 0s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99) 0s;
}
@media (max-width: 480px) {
    .dropdown-slide .dropdown-menu {
      transform: none;
    }
  }
.top-header .container {
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #dedede;
  }
.top-header .dropdown-menu {
    left: auto;
    right: 0;
    max-width: 300px;
  }
@media (max-width: 480px) {
.top-header .dropdown-menu {
      right: 0;
      left: 0;
      max-width: 100%;
    }
  }
 .category-box {
    background-size: cover;
    margin-bottom: 30px;
    min-height: 350px;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
 @media (max-width: 400px) {
    .category-box {
      min-height: 250px;
    }
  }
 @media (max-width: 480px) {
    .category-box {
      min-height: 250px;
    }
  }
 .category-box.category-box-2 {
    min-height: 730px;
  }
 @media (max-width: 768px) {
    .category-box.category-box-2 {
      min-height: 400px;
    }
  }
 .category-box:hover img {
    transform: scale(1.1);
  }
 .category-box img {
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
 .category-box a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
.category-box .content {
    position: absolute;
    z-index: 999;
    top: 0;
    padding: 25px;
  }
@media (max-width: 768px) {
    .category-box .content {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
.category-box .content h3 {
    margin: 0;
    color: #333;
    font-size: 20px;
    font-weight: 500;
  }
.category-box .content p {
    margin: 0;
    color: #333;
  
  }
@media (max-width: 768px) {
    .category-box .content h3 {
      font-size: 20px;
    }
  }
  .category-box .content p {
    margin: 6px 0 0;
  }
  .product-item {
    margin-bottom: 30px;
  }
  .product-item .product-thumb {
    position: relative;
  }
  .product-item .product-thumb img {
    width: 100%;
    height: auto;
  }
  .product-item .product-thumb:before {
    transition: 0.3s all;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .product-item .product-thumb .preview-meta {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    opacity: 0;
    transition: 0.2s;
    transform: translateY(10px);
  }
  .product-item .product-thumb .preview-meta li {
    display: inline-block;
  }
  .product-item .product-thumb .preview-meta li a, .product-item .product-thumb .preview-meta li span {
    background: rgb(0, 102, 255);
    color: #fff;
    padding: 10px 0px;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    transition: 0.2s all;
    width: 50px;
    border-radius: 5px;
  }
  .product-item .product-thumb .preview-meta li a:hover, .product-item .product-thumb .preview-meta li span:hover {
    background: #000;
    color: #fff;
  }
  .product-item:hover .product-thumb:before {
    opacity: 1;
  }
  .product-item:hover .preview-meta {
    opacity: 1;
    transform: translateY(-20px);
  }
  .product-item .product-content {
    text-align: center;
  }
  .product-item .product-content h4 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 6px;
  }
  .product-item .product-content h4 a {
    color: #000;
  }
  .title {
    padding: 20px 0 30px;
  }
  .title h2 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.bg-gray{
    background-color: #f6f6f6;
}
p {
    font-family: "Poppins", sans-serif;
    color: #757575;
    font-size: 15px;
  }
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}  
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }  
.cart-label{
  font-weight: 600;
}
.side-prof{
  padding-top: 10px;
  padding-bottom: 150px;
  border: #000 solid 1px;

}
.client-img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.media {
  border: rgb(99, 98, 98) 1px solid;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}
.media, .media-body {
  overflow: hidden;
  zoom: 1;
}
.media-left, .media>.pull-left {
  padding-right: 10px;
}
.pull-left {
  float: left!important;
}
.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}
.media-body {
  width: 10000px;
}
.str-text{
  font-weight: 500;
  font-weight: bold;
  margin-right: 5px;
  width: 100px;
  display: inline-block;
}
.divider{
  margin: 2px 0px;
}
.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
  max-width: 100%;
  width: 120px;
  height: auto;
}
.checklogo{
  width: 50px;
}
.deliver_info{
  font-weight: 500;
}
.hr1{
  border-bottom: #000 .5px solid;
}
.clink{
  color: rgb(0, 89, 255);
}
.orderedimg{
  width: 70px;
  height: 80px;
}
.checkout-btn{
  border-radius: 0;
  background-color: #00256c;
  border: none;
  width: 170px;
}
.thunder-btn{
  background: #00256c;
  border: #00256c;
  border-radius: 0px;
}
.team4 {
  font-family: "Poppins", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}
.team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
  color: #1f2229;
}
.team4 .font-weight-medium {
	font-weight: 500;
}
.team4 h5 {
  line-height: 22px;
  font-size: 18px;
}


